@model MVC4ManyToMany.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "UserProfile", new { id="formEdit", name="formEdit" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserProfileViewModel</legend>
        
        @Html.HiddenFor(x => x.UserProfileID)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileID)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.UserProfileID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        @* Render the check boxes using the Editor Template *@
        @Html.EditorFor(x => x.Courses)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
